<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/update" method="post">
            <table>
                <tr><td>Employee ID</td><td><input type="text" name="eid" value="<%= empdata[0].eid%>" readonly/></td></tr>
                <tr><td>Employee Name</td><td><input type="text" name="ename" value="<%= empdata[0].ename%>"/></td></tr>
                <tr><td>Salary</td><td><input type="text" name="sal" value="<%= empdata[0].salary%>"/></td></tr>
                <tr><td></td><td><input type="submit" value="Update"/></td></tr>
            </table>
    </form>

</body>
</html>