<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/emp/add" method="post">
            Employee ID<input type="text" name="eid"/><br>
            Employee Name<input type="text" name="ename"/><br>
            Salary<input type="text" name="sal"/><br>
            <input type="submit" value="Register"/>
        </form>
</body>
</html>