<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <thead>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Salary</th>
            </thead>
        </tr>
            <tbody>
                <% for(var i=0;i<empdata.length;i++){ %>
        <tr>
            <td><%= empdata[i].eid%></td>
            <td><%= empdata[i].ename%></td>
            <td><%= empdata[i].salary%></td>
        </tr>
            <% }%>
            </tbody>
        </tr>


    </table>    
</body>
</html>